# Bases de datos


## Bases de datos relacinales

entra a http://sqlfiddle.com y crea el sieguente esquema 


``` SQL
CREATE TABLE Clientes (
  ID INT PRIMARY KEY,
  Nombre VARCHAR(100),
  Email VARCHAR(100),
  Direccion VARCHAR(200)
);


CREATE TABLE Productos (
  ID INT PRIMARY KEY,
  Nombre VARCHAR(100),
  Precio DECIMAL(10, 2),
  Stock INT
);

CREATE TABLE Pedidos (
  ID INT PRIMARY KEY,
  ClienteID INT,
  FechaPedido DATE,
  Total DECIMAL(10, 2),
  FOREIGN KEY (ClienteID) REFERENCES Clientes(ID)
);

CREATE TABLE DetallesPedido (
  ID INT PRIMARY KEY,
  PedidoID INT,
  ProductoID INT,
  Cantidad INT,
  Precio DECIMAL(10, 2),
  FOREIGN KEY (PedidoID) REFERENCES Pedidos(ID),
  FOREIGN KEY (ProductoID) REFERENCES Productos(ID)
);


INSERT INTO Clientes (ID, Nombre, Email, Direccion) VALUES
  (1, 'John Doe', 'john@example.com', '123 Main St'),
  (2, 'Jane Smith', 'jane@example.com', '456 Oak Ave'),
  (3, 'Robert Johnson', 'robert@example.com', '789 Elm Blvd');

INSERT INTO Productos (ID, Nombre, Precio, Stock) VALUES
  (1, 'Camiseta', 19.99, 50),
  (2, 'Pantal√≥n', 39.99, 30),
  (3, 'Zapatos', 59.99, 20);

INSERT INTO Pedidos (ID, ClienteID, FechaPedido, Total) VALUES
  (1, 1, '2023-01-01', 79.98),
  (2, 2, '2023-02-01', 59.99),
  (3, 3, '2023-03-01', 119.97);

INSERT INTO DetallesPedido (ID, PedidoID, ProductoID, Cantidad, Precio) VALUES
  (1, 1, 1, 2, 39.98),
  (2, 1, 3, 1, 39.99),
  (3, 2, 2, 1, 39.99),
  (4, 3, 1, 3, 59.97),
  (5, 3, 3, 2, 119.98);

```

Y realiza la consulta 

``` SQL
SELECT
  Pedidos.ID AS PedidoID,
  Clientes.Nombre AS ClienteNombre,
  Clientes.Email AS ClienteEmail,
  Productos.Nombre AS ProductoNombre,
  DetallesPedido.Cantidad,
  DetallesPedido.Precio
FROM
  Pedidos
JOIN
  Clientes ON Pedidos.ClienteID = Clientes.ID
JOIN
  DetallesPedido ON Pedidos.ID = DetallesPedido.PedidoID
JOIN
  Productos ON DetallesPedido.ProductoID = Productos.ID
WHERE
  Pedidos.ID = 1;
```

## Bases de datos de documentos 

Descarga el ejecutable 

https://downloads.mongodb.com/compass/mongodb-compass-1.37.0-win32-x64.zip


descomprime y ejecuta mongodb-compass

conectate con 

`mongodb+srv://irvingcabrera:s8IlApSHvbyrglQn@cluster0.evqvgbv.mongodb.net/`

Explora los datos de muestra 

realiza busquedas como `{ orderFromSun: { $lt: 4 } }`

puedes crear tu instancia gratuita en  https://www.mongodb.com/cloud/atlas y presiona try free.

## Bases de datos de clave valor 

conectate a 

http://IP:8081

donde IP se te dara en clase 

inserta en la tabla datos como 

`SET clave1 valor1`

experimenta con distitnos tipos.

Despues, obten los resultados 


`GET clave1`

REDIS COMMANDER

## Base de datos de grafos 

Conectate a

http://IP:7474

recuerda reeemplazar el valor de IP

Explora los datos de peliculas 

Sigue las guias que muestra

## Bases de datos espaciales

Ingresa a 

http://IP:49152 

Introduce las credenciales 



user pgadmin@pgadmin.org

pw SuperSecret

## Bonus base de datos de series temporales

Esto es solo de muestra 

http://lcidn2.inegi.gob.mx:9390

http://lcidn2.inegi.gob.mx:3000