In [1]:
print("Hello friend")

Hello friend

In [2]:
help("print")

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [4]:
a = 1
A = 1
print("a es igual a A", a==A)

a es igual a A True

In [6]:
list(range(-10,10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
#vector = np.array([])

#pandas series
#numpy array

#pandas son tablas
#info estructurada o no estructurada

#list() (shift + tab + tab)

NameError: name 'np' is not defined

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

for i in range(-3,5):
    print(i)

-3
-2
-1
0
1
2
3
4

In [15]:
lista_alumnos = ["A1", "A2", "A3"]
for alumno in lista_alumnos:
    print(alumno)

A1
A2
A3

In [17]:
for letra in "Hello friend":
    print(letra)

H
e
l
l
o

f
r
i
e
n
d

In [18]:
#Ejercicio
"r"*2

'rr'

In [21]:
for i in range(5):
    print("-"*i)

-
--
---
----

In [22]:
for i in range(-5,5):
    print("-"*i)

-
--
---
----

In [24]:
for i in range(3):
    for j in range(3):
        print(f"i:{i}, j:{j}" )

i:0, j:0
i:0, j:1
i:0, j:2
i:1, j:0
i:1, j:1
i:1, j:2
i:2, j:0
i:2, j:1
i:2, j:2

In [26]:
if True:
    print("Verdadero")
else:
    print("Falso")

Falso

In [32]:
edad = int(input("Dime tu edad:"))
if edad >=18:
    print("Mayor de edad")
else:
    print("Menor de edad")

Dime tu edad:18
Mayor de edad