In [2]:
#Create file to import libraryes

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
alumnos=["A1","A2","A3"]

for alumno in alumnos:
    print(alumno)

A1
A2
A3

In [11]:
for i in range(3):
    print("hola")
print("mundo")

hola
hola
hola
mundo

In [12]:
for letra in "Hola Mundo":
    print(letra)

H
o
l
a

M
u
n
d
o

In [14]:
for i in range(1,6):
    print('-'*i)

-
--
---
----
-----

In [15]:
for i in range(3):
    for j in range(3):
        print(f"i:{i},j:{j}")

i:0,j:0
i:0,j:1
i:0,j:2
i:1,j:0
i:1,j:1
i:1,j:2
i:2,j:0
i:2,j:1
i:2,j:2

In [17]:
if False:
    print("verdadero")

In [19]:
edad=int(input("Dime tu edad: "))
if edad>=18:
    print("Mayor de edad")
else:
    print("Menor de edad")

Dime tu edad: 33
Mayor de edad