# Cuaderno de conexiones SQL

En este cuaderno mostramos ejemplos básicos relacionados con el manejo de bases de datos para obtener información.

## Funciones necesarias 

Importamos varias funciones de la libreria [sqlalchemy](https://www.sqlalchemy.org) que necesitamos para realizar consultas

In [ ]:
from sqlalchemy import create_engine, text, MetaData, Table, Column, Integer, String, ForeignKey

## Creación del engine

El motor o engine es la parte medular de la conexión a una base de datos.

Incluye el tipo o dialecto, la DBapi o implementación de la comunicación, así como la ubicación. Esta ultima puede contener usuario, contraseña, url, puerto y base de dato a usar.

En este caso usaremos SQLite en memoria para hacer nuestros experimentos

In [ ]:
engine = create_engine("sqlite+pysqlite:///:memory:", echo=True)

Al crear la conexión en realidad no se conecta, es hasta que ejecutamos una consulta.

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2023-03-04 17:26:52,920 INFO sqlalchemy.engine.Engine select 'hello world'

INFO:sqlalchemy.engine.Engine:select 'hello world'

2023-03-04 17:26:52,925 INFO sqlalchemy.engine.Engine [generated in 0.00793s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00793s] ()

[('hello world',)]

## Creación y modificación de tablas

Podemos crear tablas e insertar valores con la sintaxis de SQL, con la diferencia que aquí nos podemos apoyar de parámetros para insertar varios valores.

In [ ]:
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4},{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )

2023-03-04 17:32:29,267 INFO sqlalchemy.engine.Engine CREATE TABLE some_table (x int, y int)

INFO:sqlalchemy.engine.Engine:CREATE TABLE some_table (x int, y int)

2023-03-04 17:32:29,273 INFO sqlalchemy.engine.Engine [generated in 0.00717s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00717s] ()

2023-03-04 17:32:29,279 INFO sqlalchemy.engine.Engine COMMIT

<ipython-input-4-b7f1d91d56b7>:2: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  conn.execute(text("CREATE TABLE some_table (x int, y int)"))
INFO:sqlalchemy.engine.Engine:COMMIT

2023-03-04 17:32:29,284 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO some_table (x, y) VALUES (?, ?)

2023-03-04 17:32:29,288 INFO sqlalchemy.engine.Engine [generated in 0.00448s] ((1, 1), (2, 4), (6, 8), (9, 10))

INFO:sqlalchemy.engine.Engine:[generated in 0.00448s] ((1, 1), (2, 4), (6, 8), (9, 10))

2023-03-04 17:32:29,292 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

## Consulta de BD y extracción de información

Una vez creada la tabla la podemos consultar y traer todos los resultados, también podemos iterar a través de cada fila de resultados y acceder a ellos a través de su nombre. Existen mas maneras de acceder a los resultados y están indicadas en la [documentación](https://docs.sqlalchemy.org/en/20/tutorial/data_select.html).

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    print(result.all())
    
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"row.x: {row.x}  row.y: {row.y}")

with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for x, y in result:
        print(f"row.x: {x}  row.y: {y}")

2023-03-04 17:38:26,322 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table

INFO:sqlalchemy.engine.Engine:SELECT x, y FROM some_table

2023-03-04 17:38:26,332 INFO sqlalchemy.engine.Engine [cached since 261.7s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 261.7s ago] ()

[(1, 1), (2, 4), (6, 8), (9, 10)]
2023-03-04 17:38:26,337 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table

INFO:sqlalchemy.engine.Engine:SELECT x, y FROM some_table

2023-03-04 17:38:26,339 INFO sqlalchemy.engine.Engine [cached since 261.7s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 261.7s ago] ()

row.x: 1  row.y: 1
row.x: 2  row.y: 4
row.x: 6  row.y: 8
row.x: 9  row.y: 10
2023-03-04 17:38:26,344 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table

INFO:sqlalchemy.engine.Engine:SELECT x, y FROM some_table

2023-03-04 17:38:26,347 INFO sqlalchemy.engine.Engine [cached since 261.7s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 261.7s ago] ()

row.x: 1  row.y: 1
row.x: 2  row.y: 4
row.x: 6  row.y: 8
row.x: 9  row.y: 10

## Modo declarativo de modelos 

Debido a que la sintaxis entre cada tipo de base de datos varia, una manera mas robusta de interactuar con las bases de datos es a través de estructuras propias de SQLAlchemy las cuales son traducidas a sentencias SQL. 

Por ejemplo podemos definir una tabla junto con sus columnas par poderla crear.

In [ ]:
metadata_obj = MetaData()
user_table = Table(
    "user_account",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("name", String(30)),
    Column("fullname", String),
)

metadata_obj.create_all(engine)

2023-03-04 18:02:15,258 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-03-04 18:02:15,268 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_account")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("user_account")

2023-03-04 18:02:15,273 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-03-04 18:02:15,278 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user_account")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("user_account")

2023-03-04 18:02:15,284 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-03-04 18:02:15,288 INFO sqlalchemy.engine.Engine
CREATE TABLE user_account (
	id INTEGER NOT NULL,
	name VARCHAR(30),
	fullname VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE user_account (
	id INTEGER NOT NULL,
	name VARCHAR(30),
	fullname VARCHAR,
	PRIMARY KEY (id)
)

2023-03-04 18:02:15,294 INFO sqlalchemy.engine.Engine [no key 0.00612s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00612s] ()

2023-03-04 18:02:15,296 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

Con esta definición de tabla podemos insertar valores sin necesidad de crear la sentencia completa.

In [ ]:
from sqlalchemy import insert
with engine.begin() as conn:
    result = conn.execute(
      insert(user_table),
      [
            {"name": "spongebob", "fullname": "Spongebob Squarepants"},  # Modify name to nam no value on name is added
            {"name": "sandy", "fullname": "Sandy Cheeks"},
            {"name": "patrick", "fullname": "Patrick Star"},
        ],
  )

2023-03-04 18:02:24,793 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-03-04 18:02:24,801 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO user_account (name, fullname) VALUES (?, ?)

2023-03-04 18:02:24,804 INFO sqlalchemy.engine.Engine [generated in 0.00392s] (('spongebob', 'Spongebob Squarepants'), ('sandy', 'Sandy Cheeks'), ('patrick', 'Patrick Star'))

INFO:sqlalchemy.engine.Engine:[generated in 0.00392s] (('spongebob', 'Spongebob Squarepants'), ('sandy', 'Sandy Cheeks'), ('patrick', 'Patrick Star'))

2023-03-04 18:02:24,808 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

Incluso podemos realizar consultas a estos datos. Las cuales tienen el mismo funcionamiento que consultas.

In [ ]:
from sqlalchemy import select
stmt = select(user_table).where(user_table.c.name == "/*comment*/1;") ##Revisar sql injection
#stmt = select(user_table)
print(stmt)

NameError: ignored

In [ ]:
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(row)

2023-03-04 18:02:30,041 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

INFO:sqlalchemy.engine.Engine:SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

2023-03-04 18:02:30,047 INFO sqlalchemy.engine.Engine [generated in 0.00611s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00611s] ()

(1, 'spongebob', 'Spongebob Squarepants')
(2, 'sandy', 'Sandy Cheeks')
(3, 'patrick', 'Patrick Star')

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text("""SELECT user_account.id, user_account.name, user_account.fullname 
FROM user_account 
WHERE user_account.name = 'spongebob'"""))
    for row in result:
        print(row)

2023-03-04 18:02:53,116 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = 'spongebob'

INFO:sqlalchemy.engine.Engine:SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = 'spongebob'

2023-03-04 18:02:53,125 INFO sqlalchemy.engine.Engine [generated in 0.00911s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00911s] ()

(1, 'spongebob', 'Spongebob Squarepants')

## Ejemplo con bases de datos reales 

En este ejemplo nos posemos conectar a la base de datos publica de [rna central](https://rnacentral.org/help/public-database) y realizar consultas como lo haríamos con cualquier gestor

In [ ]:
engine = create_engine(
    "postgresql+psycopg2://reader:NWDMCE5xdipIjRrp@hh-pgsql-public.ebi.ac.uk:5432/pfmegrnargs",
)

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text("""
SELECT
  upi,     -- RNAcentral URS identifier
  taxid,   -- NCBI taxid
  ac       -- external accession
FROM xref
WHERE ac IN ('OTTHUMT00000106564.1', 'OTTHUMT00000416802.1')    
    """))
    for row in result:
        print(row)

(5, 53, 98, 'URS00000B15DA', 1, 'Y', datetime.datetime(2015, 5, 16, 16, 43, 53), 'RNACEN', 'OTTHUMT00000106564.1', 1, 9606, 196799539)
(5, 53, 98, 'URS00000A54A6', 1, 'Y', datetime.datetime(2015, 5, 16, 16, 43, 53), 'RNACEN', 'OTTHUMT00000416802.1', 1, 9606, 196793709)

In [ ]:

with engine.connect() as conn:
    result = conn.execute(text("""
SELECT inet_server_addr(); 
  """))
    for row in result:
        print(row)

print("/n")
'''
with engine.connect() as conn:
    result = conn.execute(text("""
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
    """))
    for row in result:
        print(row)
'''

('10.49.10.30',)
/n

'\nwith engine.connect() as conn:\n    result = conn.execute(text("""\nSELECT *\nFROM pg_catalog.pg_tables\nWHERE schemaname != \'pg_catalog\' AND \n    schemaname != \'information_schema\';\n    """))\n    for row in result:\n        print(row)\n'